body{
  background-color: #3B8BEB
}
.lowText {
  position: absolute;
  top: 1950;
  left: 580;
  width: 120px;
  padding: 5px;
  font-size: 10px;
  background-color: powderblue;
  border: 2px solid #094c95;
  border-radius: 5px;
  text-align: center;
}
div.sticky {
  position: sticky;
  top: 380;
  width: 150px;
  padding: 5px;
  background-color: #5DA2D5;
  border: 2px solid #094c95;
  border-radius: 5px;
}
.sticky:hover{
  color: transparent;
  background-image: url("/picture/cirno.png");
}
div.problem{
  position: absolute;
  top: 62;
  width: 150px;
  padding: 5px;
  background-color: #5DA2D5;
  border: 2px solid #094c95;
  border-radius: 5px;
}
div.nameinsert {
  position: absolute;
  top: 62px;
  left: 200px;
  width: 600px;
  height: 50px;
  padding: 5px;
  background-color: #5DA2D5;
  border: 2px solid #094c95;
  border-radius: 5px;
}
div.howto{
  position: absolute;
  top: 62;
  width: 500px;
  padding: 5px;
  background-color: powderblue;
  border: 2px solid #094c95;
  border-radius: 5px;
}
svg.barchart{
  position: absolute;
  top: 150px;
  left: 200px;
  width: 1000px;
  height: 600px;
  padding: 5px;
  background-color: lightblue;
  border: 2px solid #094c95;
  border-radius: 5px;
}
div.baroptions{
  position: absolute;
  top: 150px;
  left: 1225px;
  width: 200px;
  height: 200px;
  padding: 5px;
  background-color: #5DA2D5;
  border: 2px solid #094c95;
  border-radius: 5px;
}
.barXAxis{
    font-size: 14px;
}
.yLabBar{
    font-size: 20px;
}
.tLabBar{
    font-size: 20px;
}
svg.linechart{
  position: absolute;
  top: 1350px;
  left: 200px;
  width: 800px;
  height: 500px;
  padding: 5px;
  background-color: lightblue;
  border: 2px solid #094c95;
  border-radius: 5px;
}
.lineOptions1{
  position: absolute;
  top: 1400px;
  left: 1050px;
  width: 110px;
  padding: 5px;
  border: 2px solid #094c95;
  border-radius: 5px;
  /* color: #3d3d3f; */
  background-color:#5DA2D5;
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}
.lineOptions2{
  position: absolute;
  top: 1400px;
  left: 1180px;
  width: 110px;
  padding: 5px;
  border: 2px solid #094c95;
  border-radius: 5px;
  color: #D1D7E0;
  background-color: #4D6D9A;
  /* text-shadow: -1px 0 #76C4AE, 0 1px #76C4AE, 1px 0 #76C4AE, 0 -1px #76C4AE; */
}
.lineXAxis{
    font-size: 12px;
}
.lineYAxis{
    font-size: 14px;
}
.yLabLine{
    font-size: 20px;
}
.tLabLine{
    font-size: 20px;
}
svg.heatchart{
  position: absolute;
  top: 800px;
  left: 200px;
  width: 800px;
  height: 500px;
  padding: 5px;
  background-color: lightblue;
  /* opacity: 0.1 */
  border: 2px solid #094c95;
  border-radius: 5px;
}
div.agenda{
  position: absolute;
  top: 900px;
  left: 1050px;
  width: 300px;
  /* height: 200px; */
  padding: 10px;
  /* color: #D1D7E0; */
  background-color: #5DA2D5;
  border: 2px solid #094c95;
  border-radius: 5px;
}
div.agendaHeader{
  position: absolute;
  top: 830px;
  left: 1110px;
  width: 200px;
  padding: 5px;
  /* height: 200px; */
  color: #D1D7E0;
  background-color:#4D6D9A;
  border: 2px solid #094c95;
  border-radius: 5px;
  text-align: center;
}
div.col-sm-2{
  left: 850px;
}
.line {
  stroke-width: 2;
  fill: none;
}
.toolTip {
  position: absolute;
  display: none;
  min-width: 60px;
  height: auto;
  border-radius: 5px;
  border: 2px solid blue;
  background-color: lightblue;
  font-size: 12px;
  padding: 5px;
  text-align: center;
  z-index:99999
}
.heatXAxis{
    font-size: 15px;
}
.checkAll{
  position: absolute;
  top: -30px;
  left: 53px;
  /* color: seashell; */
  border-radius: 5px;
  color: #D1D7E0;
  background-color: #4D6D9A;
}
.unCheckAll{
  position: absolute;
  top: -30px;
  left: -3px;
  border-radius: 5px;
  /* color: #3d3d3f; */
  background-color: #5DA2D5;
}
.title-text{
  text-shadow: -1px 0 black;
}
